body.login {
/* 	background: #004352; */
}

.login h1 a {
	background: url('../images/logo.png')center center no-repeat;
	background-size: contain;
	width: 320px;
	height: 220px;
}

#login {
	padding: 30px 0 0;
}

#wp-admin-bar-wp-logo{
	display: none!important; 
}
#wp-admin-bar-wp-logo > .ab-item .ab-icon { 
	display: none!important; 
}
#wpadminbar #wp-admin-bar-wp-logo>.ab-item {
	padding: 0;
} 